/* ------------------Max-Width:3800px------------- */
@media (max-width:3800px) {

    html {
        font-size: 100%;
    }
}

/* ------------------Max-Width:3000px------------- */
@media (max-width:3000px) {

    html {
        font-size: 85%;
    }
}

/* ------------------Max-Width:2500px------------- */
@media (max-width:2500px) {

    html {
        font-size: 75%;
    }
}

/* ------------------Max-Width:2000px------------- */
@media (max-width:2000px) {

    html {
        font-size: 62.5%;
    }
}


/* ------------------Max-Width:1100px------------- */

@media (max-width:1110px) {

    html {
        font-size: 55%;
    }

    /* --------Header--------- */
    .logo {
        width: 5rem;
    }

    .navbar-ul {
        gap: 2.5rem;
    }

    /* ---------Hero-Section-------- */
    #hero {
        padding: 0 8%;
    }

    .hero-container {
        gap: 7rem;
        grid-template-columns: 1fr;
    }

    .hero-content-1 {
        align-items: center;
    }

    /* -------About-Section--------- */
    .about-container {
        grid-template-columns: 1fr;

    }

    .about-content-1 {
        grid-row: 2;
    }

    /* --------Services-Section------- */
    .services-content {
        gap: 3rem;
    }

    /* ---------Portfolio-Section------- */
    #portfolio {
        padding: 8rem 8% 2rem;
    }

    .portfolio-content {
        grid-template-columns: repeat(2, 1fr);
    }

    /* --------Contact-Section--------- */
    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-content-1 {
        grid-row: 2;
    }

}

/* ------------------------Max-Width:840px---------------------- */

@media (max-width:840px) {
    html {
        font-size: 50%;
    }
    .logo{
        width: 5rem;
    }

    h2.active::after {
        width: 60%;
    }

    /* --------Hero_Section-------- */
    .hero-container {
        grid-template-columns: 1fr;
        gap: 8rem;
    }

    .hero-content-1 {
        align-items: center;
    }

    /* --------About-Section------ */
    .about-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about-content-1 {
        grid-row: 2;
        text-align: center;
    }

    .about-content-1 img {
        width: 70%;
    }

    .bar {
        width: 100%;
    }

    /* ---------Services-Contaier------- */
    .services-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }

    /* ---------Portfolio-Section-------- */


    /* --------Contact-Section------- */
    .contact-container {
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    form {
        padding: 3rem 0 0;
    }

    .contact-content-1 {
        grid-row: 2;
        text-align: center;
    }

    .contact-content-1 img {
        width: 70%;
    }

    .contact-icons {
        margin: 0;
    }

    /* -----------Thank-You-Page--------------------- */
    .thankyou-text {
        align-self: flex-start;
    }
}

/* ------------------------Max-Width:680px--------------------- */

@media (max-width:680px) {

    [data-aos-delay] {
        transition-delay: 0s !important;
    }

    section {
        padding: 8rem 6% 2rem;
    }

    /* --------Lottie--------- */
    .lottie{
        width: 400px;
        height: 400px;
    }

    /* ------------Heaer------------ */
    .menu-btn, .dark-mode {
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 6%;
        transition: 300ms linear;
    }
    .dark-mode{
        right: 15%;
        top: 2.3rem;
        
    }
    .dark-mode i{
        font-size: 2.5rem;
        
    }

    .header.sticky .menu-btn {
        top: 1.8rem;

    }

    .header {
        display: block;
        overflow: hidden;
    }

    .navbar-ul {
        display: block;
        height: 0;
        transition: 300ms ease;
    }

    .navbar-ul.active {
        height: 250px;
        padding: 1.5rem 0;
    }

    .navbar-ul.active .header.sticky {
        box-shadow: 0 4px 8px 0 #31e0f76b;

    }

    .navbar-li {
        display: block;
    }

    .navbar-li a {
        display: block;
        padding: 1rem;
    }

    .navbar-li a:hover {
        background-image: var(--light-gradient);
    }

    /* --------Hero-Section---------- */


    /* --------Services-Section---------- */
    .services-content {
        grid-template-columns: 1fr;
    }

    .service {
        padding: 5rem 4rem 3rem;
    }

    .services-content i {
        font-size: 12rem;
    }

    .services-content h3 {
        font-size: 2.5rem;
    }

    .services-content p {
        font-size: 1.5rem;
    }

    /* --------Portfolio-Content----- */


    /* --------Freelancing-Section----------- */
    #freelancing {
        padding: 5rem 0%;
    }

}

/* ------------Max-Width:450px--------- */

@media (max-width:450px) {
    h1 {
        text-align: center;
        font-size: 5rem;
    }
    .dark-mode{
        right: 17%;
        top: 2.3rem;
        
    }
        /* --------Lottie--------- */
        .lottie{
            width: 340px;
            height: 340px;
        }

    /* ------------Hero-Section--------- */
    .hero-icons {
        top: 87%;
        left: 50%;
        flex-direction: row;
        transform: translateX(-50%);
        justify-content: center;
    }

    /* -------------About-Section------- */
    

    /* ------------Services-Section---------- */
    .services-content {
        padding: 0 2rem;
        gap: 3rem;
        margin-top: 3rem;
    }

    /* --------Portfolio-Section------ */


    /* -------Contact-Section------- */
    .contact-container {
        padding-top: 0;
    }

    .contact-icons a {
        font-size: 1.2rem;
    }

    .contact-icons i {
        font-size: 2rem;
    }

    /* -----------Footer-Section----------- */
    .footer-container {
        flex-direction: column;
    }

    .links-services {
        justify-content: space-between;
    }

    .footer-sub-content {
        margin-top: 2rem;
    }
}