/* ------------------Max-Width:3800px------------- */
@media (max-width:3800px) {

    html {
        font-size: 100%;
    }
}

/* ------------------Max-Width:3000px------------- */
@media (max-width:3000px) {

    html {
        font-size: 85%;
    }

    .hero-title {
        height: 90px;
    }

}

/* ------------------Max-Width:2500px------------- */
@media (max-width:2500px) {

    html {
        font-size: 75%;
    }

    .hero-title {
        height: 75px;
    }
}

/* ------------------Max-Width:2000px------------- */
@media (max-width:2000px) {

    html {
        font-size: 62.5%;
    }

    section {
        padding: 8rem 8% 2rem;
    }

    #about {
        padding: 8rem 8% 0;
    }

    #portfolio {
        padding: 8rem 8% 0;

    }

    .footer-container {
        padding: 0 8%;

    }

    .nav-wrapper {
        padding: 0 8%;

    }

    .hero-icons {
        right: 8%;
    }
}


/* ------------------Max-Width:1100px------------- */

@media (max-width:1110px) {

    html {
        font-size: 55%;
    }

    /* --------Header--------- */
    .logo {
        width: 5rem;
    }

    .navbar-ul {
        gap: 2.5rem;
    }

    /* ---------Hero-Section-------- */
    #hero {
        padding: 0 8%;
    }

    .hero-container {
        flex-direction: column-reverse;
        gap: 8rem;
    }

    .word-3 {
        text-align: center;
    }

    .hero-content-1 {
        align-items: center;
    }

    .hero-title {
        font-size: 3.5rem;
        height: 40px;
    }

    .words span {
        padding: 6px 0;
    }

    /* -------About-Section--------- */
    .about-container {
        grid-template-columns: 1fr;

    }

    .about-content-1 {
        grid-row: 2;
    }

    .bar {
        width: 100%;
    }

    /* --------Services-Section------- */
    .services-content {
        gap: 3rem;
    }

    /* ---------Portfolio-Section------- */
    #portfolio {
        padding: 8rem 8% 2rem;
    }

    .p-container {
        flex-direction: column;
        gap: 3rem;
    }

    .p-img {
        width: 90%;
    }

    .p-content {
        width: 90%;
    }


    /* --------Contact-Section--------- */
    .contact-container {
        grid-template-columns: 1fr;
    }

    form {
        padding: 3rem 0 0;
    }

    .contact-content-1 {
        grid-row: 2;
        width: 100%;
    }

    .contact-content-2 {
        width: 80%;
        margin: 0 auto;
    }

    .contact-icons {
        margin: 0;
    }

    /* --------Footer-------- */
    .footer-container {
        padding: 0 6%;
    }

    /* -----------Lottie------------ */
    .lottie {
        margin: 0 auto;
    }

}

/* ------------------------Max-Width:840px---------------------- */

@media (max-width:840px) {

    .logo {
        width: 5rem;
    }

    h2.active::after {
        width: 60%;
    }

    section {
        padding: 8rem 6% 2rem;
    }

    #about {
        padding: 8rem 6% 0;
    }

    #portfolio {
        padding: 8rem 6% 0;

    }

    .nav-wrapper {
        padding: 0 6%;

    }

    /* --------Hero_Section-------- */

    .hero-content-1 {
        align-items: center;
    }

    /* --------About-Section------ */
    .about-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about-content-1 {
        grid-row: 2;
        text-align: center;
    }

    .about-content-1 img {
        width: 70%;
    }

    .bar {
        width: 100%;
    }

    /* ---------Services-Contaier------- */
    .services-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }

    /* ---------Portfolio-Section-------- */


    /* --------Contact-Section------- */
    .contact-container {
        grid-template-columns: 1fr;
        gap: 5rem;
    }



    .contact-content-1 {
        grid-row: 2;
        text-align: center;
    }

    .contact-content-1 img {
        width: 70%;
    }

    .contact-icons {
        margin: 0;
    }

    /* -----------Thank-You-Page--------------------- */
    .thankyou-text {
        align-self: flex-start;
    }
}

/* ------------------------Max-Width:680px--------------------- */

@media (max-width:680px) {

    [data-aos-delay] {
        transition-delay: 0s !important;
    }

    section {
        padding: 8rem 6% 2rem;
    }

    /* --------Lottie--------- */
    .lottie {
        width: 400px;
        height: 400px;
    }

    /* ------------Header------------ */
    .menu-btn,
    .dark-mode {
        display: block;
        position: absolute;
        top: 50%;
        right: 6%;
        transition: 300ms linear;
        transform: translateY(-50%);
    }

    .dark-mode {
        right: 15%;
    }

    .dark-mode i {
        font-size: 2.5rem;
    }

    .header {
        overflow: hidden;
    }

    .nav-wrapper {
        display: block;
    }

    .navbar-ul {
        display: block;
        height: 0;
        transition: 300ms ease;
    }

    .navbar-ul.active {
        height: 250px;
        padding: 1.5rem 0;
    }

    .navbar-ul.active .header.sticky {
        box-shadow: 0 4px 8px 0 #31e0f76b;

    }

    .navbar-li {
        display: block;
    }

    .navbar-li a {
        display: block;
        padding: 1rem;
    }

    .navbar-li a:hover {
        background-image: var(--light-gradient);
    }

    /* --------Hero-Section---------- */
    .hero-title {
        font-size: 3.5rem;
        height: 40px;
    }

    .words span {
        padding: 5px 0;
    }


    /* --------Services-Section---------- */
    .services-content {
        grid-template-columns: 1fr;
    }

    .service {
        padding: 5rem 4rem 3rem;
    }

    .services-content i {
        font-size: 12rem;
    }

    .services-content h3 {
        font-size: 2.5rem;
    }

    .services-content p {
        font-size: 1.5rem;
    }

    /* --------Portfolio-Content----- */
    #portfolio {
        padding: 8rem 0 0;
    }

    #portfolio h2 {
        margin: 0 6% 6rem;
    }

    .portfolio-para, .portfolio-para-2 {
        padding: 0 6%;
    }

    .p-container {
        padding: 1rem 6% 3rem;
        gap: 3rem;
    }


    /* --------Freelancing-Section----------- */
    #freelancing {
        padding: 5rem 0%;
    }

    .freelancing-heading {
        font-size: 4rem;
    }

}

/* ------------Max-Width:450px--------- */

@media (max-width:450px) {
    h1 {
        text-align: center;
        font-size: 5rem;
    }

    .dark-mode {
        right: 17%;

    }

    /* --------Lottie--------- */
    .lottie {
        width: 320px;
        height: 320px;
    }

    /* ------------Hero-Section--------- */
    .hero-icons {
        top: 87%;
        left: 50%;
        flex-direction: row;
        transform: translateX(-50%);
        justify-content: center;
    }

    /* -------------About-Section------- */


    /* ------------Services-Section---------- */
    .services-content {
        padding: 0;
        gap: 3rem;
        margin-top: 3rem;
    }

    /* --------Portfolio-Section------ */
    .p-container {
        padding: 1rem 3rem 3rem;
    }

    .p-img {
        width: 85%;
    }

    .p-content {
        width: 85%;
    }

    .p-next {
        right: 5px;
    }

    .p-prev {
        left: 5px;
    }

    .p-next::after,
    .p-prev::after {
        font-size: 3rem;
    }

    /* --------Freelancing-Section----------- */

    .freelancing-heading {
        font-size: 2.5rem;
    }


    /* -------Contact-Section------- */
    .contact-container {
        padding-top: 0;
    }

    .contact-icons a {
        font-size: 1.2rem;
    }

    .contact-icons i {
        font-size: 2rem;
    }

    .contact-content-2 {
        width: 100%;
    }

    /* -----------Footer-Section----------- */
    #footer {
        padding: 4rem 6% 2rem;
    }

    .footer-container {
        flex-direction: column;
        padding: 0;
    }

    .links-services {
        justify-content: space-between;
    }

    .footer-sub-content {
        margin-top: 2rem;
        text-align: start;
    }
}

/* -----------------------Max-Width:380px-------------------------- */
@media (max-width:380px){
    /* --------Hero-Section------------ */
    .hero-title {
        font-size: 3.0rem;
        height: 40px;
    }
}