/* ------------Google-Fonts----------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* ------------General-Styling--------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--bg);
    overflow-x: hidden;
    transition: 400ms linear;
}


h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}


h2 {
    color: var(--heading);
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 5rem;
    position: relative;
}

h2::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--heading);
}

h2::after {
    content: "";
    width: 20%;
    height: .4rem;
    position: absolute;
    top: 108%;
    left: 1.5rem;
    background-color: var(--heading);
    transition: 1.5s ease;

}

h2.active::after {
    width: 35%;
}


h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    padding: 8rem 0 2rem;
    max-width: 1600px;
    margin: 0 auto;
}

.btn {
    border: none;
    display: inline-block;
}

.btn a {
    font-size: 1.8rem;
    background-color: var(--light);
    color: var(--bg);
    padding: 10px 20px;
    border-radius: 6px;
    transition: all 200ms linear;
}

.btn a:hover {
    background-color: var(--light-2);
    color: var(--black);
    transition: all 200ms linear;
}

.btn:hover {
    box-shadow: 0 1rem 2rem #1365dfa2;
}

.btn i {
    padding-left: .8rem;
}

::selection {
    background-color: var(--light-3);
    color: var(--black);
}

:root {
    --bg: #FFFFFF;
    --black: #2f2f2f;
    --black-2: #000000d3;
    --heading: #0d3a66;
    --para: #484848;
    --para-light: #c6c4c4;
    --light: #1363DF;
    --light-2: #47B5FF;
    --light-3: #a0f7f9;
    --form: #47b5ff3d;
    --footer: #e0e0e0;
    --box-shadaow: 0 1rem 1rem #00000038;
    --light-gradient: linear-gradient(to left, #1363DF, #47B5FF);
    --light-gradient-support: -webkit-linear-gradient(0deg, #61F2F5 0%, #a0f7f9 100%);
    --border-radius: 0.4rem;
}

body.active {
    --bg: #15101f;
    --heading: #ffffff;
    --black: #ffffff;
    --black-2: #f5f5f5;
    --para: #f2f2f2;
    --light-2: #1363DF;
    --light: #47B5FF;

    transition: 400ms linear;
}

/* ------------------------Header-Start----------------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .8rem 0;
    background-color: var(--bg);
    transition: all 200ms linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.header.sticky {
    box-shadow: 0 4px 8px 0 #1365df23;
}

.nav-wrapper {
    max-width: 1600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.logo {
    width: 5rem;
    padding-top: .4rem;
    transition: all 500ms linear;
}

.logo img {
    width: 80%;
}

.navbar-ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar-li {
    display: inline-block;
}

.navbar-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    transition: color 300ms linear;
    color: var(--black);
}

.navbar-link.active {
    color: var(--light);
}

.navbar-link:hover {
    color: var(--light-2);
}

.hire-me {
    background-image: var(--light-gradient);
    padding: 0.5rem 1rem;
    color: var(--bg);
    color: var(--black);
    border-radius: var(--border-radius);
}

.menu-btn {
    display: none;
    font-size: 2.3rem;
    padding: .2rem .8rem .1rem;
    color: var(--heading);
    border: 1px solid var(--heading);
}

.dark-mode i {
    font-size: 1.8rem;
    padding: 5px;
    cursor: pointer;
    color: var(--black);
}

/* ------------------------Header-End------------------------ */

/* -----------------------Hero-Section-Starts----------------- */
#hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

.hero-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-name{
    font-weight: 500;
    font-size: 2.5rem;
}

.hero-title {
    color: var(--heading);
    font-size: 4.5rem;
    font-weight: 600;
    box-sizing: content-box;
    height: 65px;
    overflow: hidden;
}

.words {
    overflow: hidden;
}

.words span {
    height: 100%;
    display: block;
    padding: 10px 0;
    animation: spin 6s infinite;
}

@keyframes spin {
    10% {
        transform: translateY(-112%);
    }

    20% {
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-100%);

    }

    45% {
        transform: translateY(-212%);
    }

    55% {
        transform: translateY(-200%);
    }
    65%{
        transform: translateY(-200%);

    }

    75% {
        transform: translateY(-312%);
    }

    85% {
        transform: translateY(-300%);
    }
    100%{
        transform: translateY(-300%);
    }
}

.hero-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 80%;
}

.hero-btn {
    margin-top: 2.5rem;
    transition: all 500ms;
}

.hero-btn a:hover i {
    transform: translateX(7px);
    transition: all 200ms linear;
}

.hero-icons {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-icons a {
    font-size: 3rem;
    color: var(--heading);
    transition: 200ms linear;
}

.hero-icons a:hover {
    color: var(--light);
}

.lottie {
    height: 500px;
    width: 500px;
}

/* -----------------------Hero-Section-Ends----------------- */

/* -----------------About-Section-Starts------------------ */
#about {
    padding: 8rem 0 0;
}

.about-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 10rem;
    align-items: center;
}


.about-img {
    width: 100%;
}

.stats {
    padding: 4rem 0;
}

.stat {
    margin-bottom: 2rem;
}

.stat-title {
    color: var(--black);
}

.bar {
    width: 100%;
    height: 1rem;
    border-radius: 2rem;
    background-color: #d0d0d0;
    margin-top: 1rem;
}

.sub-bar {
    position: relative;
    height: 100%;
    width: 0;
    background-image: var(--light-gradient);
    border-radius: 2rem;
    transition: 3s linear;
}


.sub-point {
    position: absolute;
    top: 100%;
    left: 99%;
    margin-top: 1rem;
    padding: .5rem 1rem;
    background-color: var(--light);
    z-index: 2;
    color: var(--bg);
}

.sub-point::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -.8rem;
    left: 0;
    z-index: 0;
    border: .8rem solid var(--light);
    border-color: transparent;
    border-left-color: var(--light);
}

/* -----------------HTML-Bar-------------- */
.bar-html {
    width: 0;
    transition: 2s linear;
}

.bar-html.active {
    width: 90%;
}

/* -----------------CSS-Bar-------------- */

.bar-css {
    width: 0;
    transition: 3s ease-in;
}

.bar-css.active {
    width: 80%;
}

/* -----------------bootStrap-Bar-------------- */
.bar-bootstrap {
    width: 0;
    transition: 4s ease-in-out;
}

.bar-bootstrap.active {
    width: 75%;
}

/* -----------------Javascript-Bar-------------- */
.bar-javascript {
    width: 0;
    transition: 3s ease;

}

.bar-javascript.active {
    width: 70%;
}

/* -----------------Wordpress-Bar-------------- */
.bar-wordpress {
    width: 0;
    transition: 4s ease;

}

.bar-wordpress.active {
    width: 70%;
}


/* ---------Download-Button-------- */
.cv-btn {
    margin-top: 4rem;
}

.cv-btn i {
    transform: translateY(-2px);
}

.cv-btn:hover i {
    transform: translateY(2px);
    transition: 300ms linear;
}

/* -----------------About-Section-Ends------------------- */


/*--------------Services-Section-Strats----------------- */
.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 7rem 0 0;
    gap: 8rem;
}



.service {
    padding: 4rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 400ms ease;
    border-bottom: 3px solid var(--light);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

}

.service i {
    font-size: 12rem;
    color: var(--light);
    padding: 2rem 4rem;
    overflow: hidden;
}

.service:hover {
    transform: translateY(-1rem);
    background-color: #47b5ff33;
    border-bottom: 3px solid var(--light-2);
}

.service:hover i {
    color: var(--black);
}

.service h3 {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 0 0rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--heading);
}

.service:hover h3 {
    color: var(--black);
}

.service p {
    text-align: center;
    font-size: 1.5rem;
}

.service:hover p {
    color: var(--black);
}

/*--------------Services-Section-Ends----------------- */

/* ----------------Portfolio-Section-Starts-------------- */
#portfolio {
    padding: 8rem 0;
}

.portfolio-content {
    padding: 8rem 0 4rem;
}

.p-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    padding: 1rem 12% 3rem;
}
.p-img:hover img{
    transform: scale(1.3);
    transition: 300ms linear;
}

.p-container:hover .p-img{
    box-shadow: 0 0 25px 0 #47b5ff8b;
    transition: 200ms linear;
}

.p-img {
    overflow: hidden;
    border-radius: 10px;
    flex-basis: 40%;
}
.p-content{
    flex-basis: 60%;

}

.p-container img {
    width: 100%;
    transition: 300ms linear;
}


.p-container h3 {
    color: var(--heading);
    font-size: 2.5rem;
    font-weight: 600;
}

.p-container p {
    padding: .5rem 0;
}

.p-container .btn {
    margin-top: 2rem;
}



/* ----------------Portfolio-Section-Endss-------------- */

/* ---------------Testimonial-Section-Starts----------- */

.testimonial-container {
    padding: 6rem 1rem 5rem;
}

.testimonial {
    padding: 2rem;
    border: 2px solid var(--light);
    transition: 200ms linear;
}

.testimonial-text {
    position: relative;
}

.quote {
    position: absolute;
    font-size: 9rem;
    top: 0;
}

.client-profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;
}

.client-img {
    width: 8rem;
}

.client-img img {
    width: 100%;
    border-radius: 50%;
    border: .5rem solid var(--heading);
}

.client-data {
    padding-left: 1rem;
}

.client-name {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.client-proff {
    color: var(--para-light);
}

.swiper-pagination-bullet-active {
    background-color: var(--light-2);
}


/* ---------------Testimonial-Section-Endss----------- */

/* -----------------Freelancing-Section-Starts------------- */
#freelancing {
    padding: 5rem 0;
    background-image: var(--light-gradient);
    max-width: 100%;
    margin: 0 0;
}

.freelancing-heading {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: var(--bg);
}

.freelancing-heading span {
    color: var(--bg);
}

/* -----------------Freelancing-Section-Ends------------- */

/* ---------------Contact-Section-Starts----------------- */
.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.contact-content-1 {
    margin-left: auto;
}

form {
    padding-right: 3rem;
}

.name-email {
    width: 100%;
    display: flex;
}

form input,
textarea {
    font-size: 2rem;
    padding: .5rem 1rem;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid var(--light-2);
    background-color: var(--form);
    color: var(--black);

}

form input::placeholder,
textarea::placeholder {
    color: var(--black);
}

textarea {
    height: 150px;
}

.form-name {
    margin-right: 1rem;
}

.form-submit-btn {
    font-size: 1.8rem;
    color: var(--bg);
    background-color: var(--light);
    padding: 1rem 2rem;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

.form-submit-btn:hover {
    background-color: var(--light-2);
    color: var(--black);
    box-shadow: none;
}

.contact-icons {
    margin-right: 3rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.contact-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: .8rem 0;
    text-align: center;
    color: var(--bg);
    transition: 300ms linear;
    background-color: var(--light);
    border-radius: 6px;

}

.contact-icons a:hover {
    background-color: var(--light-2);
    color: var(--black);
}

.contact-icons i {
    padding-right: 1rem;
    font-size: 2.5rem;
}

/* ---------------Contact-Section-Ends----------------- */

/* ------------------Thank-You-Page-------------------- */
.thankyou-page {
    background-image: var(--light-gradient);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem;
}

.thankyou-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: var(--heading);
    margin-top: 150px;
}

.thankyou-text {
    font-size: 2rem;
    font-weight: 600;
    color: var(--black);
    margin-top: 3rem;
}

.thankyou-text a {
    color: blue;
}

/* ---------------Thank-You-Page-Ends----------------- */


/* ---------------------Footer-Section-Starts---------------- */
#footer {
    background-color: #092949;
    padding: 4rem 0 2rem;
    max-width: 100%;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    margin: 0 auto;
}


.footer-content {
    padding: 0 0 2rem;
}

.links-services {
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
}

.footer-sub-content {
    flex-basis: 40%;
    text-align: end;
}

.footer-container p {
    color: var(--footer);
    font-weight: 500;
}

.footer-content li {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 4;
}

.footer-content a {
    color: #47B5FF;
    transition: 300ms linear;
}

.footer-content a:hover {
    color: var(--footer);
}

.footer-content i {
    padding-right: 1rem;
    font-size: 1.2rem;
}

.footer-ul {
    color: var(--footer);
}

.ques-li i {
    font-size: 1.5rem;
}


.footer-icons {
    text-align: center;
    padding: 2rem 0 0;
    border-top: 1px solid var(--light);
}

.footer-icons i {
    font-size: 3.5rem;
    padding: 0 1rem;
    color: var(--footer);
    transition: 300ms linear;
}

.footer-icons i:hover {
    color: var(--light-3);
    transform: scale(1.1) rotate(360deg);

}

.footer-text p {
    color: var(--footer);
    text-align: center;
    padding-top: 2rem;
    /* border-top: 1px solid var(--bg); */
}

/* ---------------------Footer-Section-Ends---------------- */